label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-select {
  background: #3d4147;
  border: 1px solid #8d8d8d;
}

.search-result {
  margin-top: 30px;
  margin-bottom: 50px;
}

.instructions {
  color: #8d8d8d;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: .8706em;
}

.search-detail {
  display: block;
  padding-right: 7px;
}

.user-info {
    display: inline-flex !important;
    gap: 1em;
    margin: 20px !important;
}
